/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 body { 
  animation: fadeInAnimation ease 1.0s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  background-color: rgb(80, 77, 75);
} 

form{
  background-color: rgb(112, 92, 92);

  padding: 25px;

border-radius: 30px;

}

textarea{
  resize: none;

}

form input[type=button], form input[type=submit], form input[type=reset] {
  background-color: #6382b3;
  border: none;
  color: white;
  padding: 16px 16px;

  font-size: large;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  transition: 0.4s;
}

form input[type="submit"]:hover {
  background: rgb(58, 162, 231);
  
}



textarea{ 
  outline: none !important;
  color: #ddcaca;
  border-color: #719ECE;
  border-width: 3px;
  transition: 0.3s;
}

input, select, textarea{
  outline: none !important;
  color: #ddcaca;
  border-color: #997373 ;
  border-width: 2px;
}

textarea:focus, input:focus + label {
  outline: none !important;
  color: #ddcaca;
  border-color: #95999e;
  border-width: 3px;
}



 
 input[type=text] {
  border-bottom: 1px solid #997373 !important;
  box-shadow: 0 1px 0 0 #997373 !important;
 }
 

 input[type=text]:focus{
  border-bottom: 1px solid #a4bbc5 !important;
  box-shadow: 0 1px 0 0 #a4bbc5 !important;
 }

.centerTextBlock{

  margin-top:100px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
}

.centerTextBlock img{
  border-radius: 100%;
}

nav{
  background-color: rgb(99, 166, 233);
}



@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 

.light{

  color:white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.imageFrame{

  max-width: 100%;
  height: 220px;

  object-fit: cover;

  border-radius: 20px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border:4px solid rgb(218, 157, 52);
  background: rgb(218, 157, 52);
  margin: 10px;
  transition: 0.3s;
}

.imageFrame:hover{

  border:8px solid rgb(0, 255, 102);
  background:  rgb(0, 255, 102);
  margin: 10px;
}

.imageFrame2{
  max-width: 100%;
  height: 220px;

  object-fit: cover;

  border-radius: 20px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border:4px solid rgb(97, 59, 180);
  background: rgb(97, 59, 180);

  margin: 10px;
  transition: 0.3s;
}

*{
  padding: 0;
  margin: 0;

  font-weight: 300;
}


.profile{
border-radius: 100%;
  margin-top: 140px;
  max-width: 300px;

  margin-bottom: -100px;
}

/*Header*/
header{
  position: relative;
  width: 100%;

  background-color: #5596be;
  
}
h2{
  padding: 1em;
  color: rgb(250, 250, 250);
}
header::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(6deg);
}
/*footer*/
footer{
  position: relative;
  width: 100%;

  background-color: #5596be;
  margin-top: 18%;
}
footer::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #5596be;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: bottom right;
  transform: skewY(3deg);
}


.textEffect{

  color: rgb(244, 222, 255);
  transition: 0.5s ease-out;


}

.bigBottomSpace{
  margin-bottom: 100px;
}


.textEffect:hover{
  
  background:-moz-radial-gradient(left, #cba334 24%, #ffffff 88%);
  font-size: 200%;
  color: rgb(255, 198, 92);
}
.imageFrame2:hover{
  border-radius: 20px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border:8px solid rgb(192, 24, 94);
  background: rgb(192, 24, 94);
  margin: 10px;
}